nav {
    display: flex;
    align-items: center;
}

header {
    background-color: #a986cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
    padding-left: 15px;
    padding-right: 20px;
}

a {
    color: white;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    display: inline-block;
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

img {
    display: block;
    height: 100px;
    transform: rotateY(180deg);
    margin-bottom: 10px;
}

#button {
    background-color: #f25a70;
    padding: 18px 20px;
    /* line-height: 60px; */
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 0 black; /* x, y, blur, color */
    transition: transform 100ms ease-in-out;
    margin-right: 0;
}

#button:hover {
    transform: scale(1.08);
}



